<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WETOSH</title>
    <link rel="stylesheet" href="/index.css">
</head>
<body>
    <h2>All Chats</h2><form action="/chats/new" method="get">
        <button>ADD A NEW CHAT</button>
    </form>
    <% for(let chat of chats){ %>
    <div class="chat">
        <p>From: <%= chat.from %> </p>
        <div class="msg">
             <p> <i><%= chat.msg %> </i></p>
             <form action="/chats/<%= chat._id %>/edit">
                <button>edit chat</button>
             </form>
             <form method="post" action="/chats/<%= chat._id %>?_method=DELETE">
                <button>delete chat</button>
             </form>
        </div>

          <p>Recieved By: <%= chat.to %> </p>
          <hr>
          <p> Time:<%= chat.created_at.toString().split(" ")[4] %> </p>
          <p> Date:<%= chat.created_at.toString().split(" ").slice(0,4).join(" ") %> </p>
    </div>
   
<% } %>
 
</body>
</html>
